body {
    background-image: url('../resources/images/barca2.png');
    background-size: cover;
    background-position:fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--secondary-color);
}

.descarga, .descarga2, body > h4 {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.descarga-img {
    width: 100%;
    margin:  auto;
}
.descarga-boton {
    width: 50%;
    line-height: 2em;
    padding: 2%;
    margin-top: 20px;
}

button {
    width: 80px;
    padding: 3px;
    transition: all 0.3s ease;
    border: 3px solid red;
}

button:hover {
    color: red;
    background-color: rgba(27, 25, 25, 0.329);
    border:double ;
    cursor: pointer;
}


.trailer, .requisitos {
    line-height: 3em;
    width: 50%;
    align-self: center;
}

.requisitosUl {
    font-size: 3rcap;
    list-style:circle;
}

@media(max-width:768px) {
    .descarga, .descarga2 {
        flex-direction: column;
    }
    .descarga-img, .descarga-boton, .requisitos, .trailer {
        width: 100%;
    }
}