

@font-face {

    font-family:"aaa";
    src: url('../resources/fonts/zero_output/zerooutputDEMO.otf');

}

/*@import "tailwindcss";*/
.hero {
/*    font-size:2em;*/
    height: 100vh;

    background-image: url('../resources/images/background_hero.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 80%;
    text-align: center;
    flex-direction: column;
    
}

.hero-text{

    font-family: "aaa";
}

body {
    
    position:absolute;
    width: 100%;
    font-family: "aaa";

    background-image: url('../resources/images/background_ocean.webp');

    background-size: cover;
    background-position:fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}

.main-grid {
    
    margin: auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(80px, auto);
    grid-gap: 30px;
    
}
.grid-content {
    width: 100%;

    border: solid;
    border-radius: 5px;
    border-color: var(--secondary-color);
    box-shadow: 0, 0, 20px var(--secondary-color);
    background-color: var(--main-color);
    transition: border-color 0.5s ease;
}
    .grid-content:hover,.link:hover {
        color:var(--hover-color);
        border-color: var(--hover-color);
    }

.index {
    text-align: center;
    align-self: self-end;
    color: var(--secondary-color);
}
.head-line {
    background-color: #000;
    color: var(--secondary-color);
    margin-top: 10%;
    width: 100%;
    text-align: center;
}


.button-container-2 {
    position: relative;
    width: 10%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
    overflow: hidden;
    border: 1px solid #000;
    font-family: "aaa";
    font-weight: 3000;
    transition: 0.5s;
    letter-spacing: 1px;

  }
  

  .button-container-2 button {
  width: 101%;
  height: 100%;
  font-family: "aaa";
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 1px;
  background: #000;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 0.7s steps(29) forwards;
}



  .button-container-2 button:hover {
    -webkit-animation: ani 1s steps(29) forwards;
    animation: ani 1s steps(29) forwards;
  
  }

  .mas {
    position: absolute;
    color: #000;
    text-align: center;
    width: 101%;
    font-family: "aaa";
    font-weight: 300;
    font-size: 50px;
    position: absolute;
    overflow: hidden;
  }


@-webkit-keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }
  @keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }
  @-webkit-keyframes ani2 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }
  @keyframes ani2 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }

