
:root {
    --main-color: black;
    --secondary-color: white;
    --hover-color: red;
}
@font-face {
    font-family: "aaa";
    src: url('/resources/fonts/zero_output/zerooutputDEMO.otf');
    
}
/*@import "tailwindcss";*/
.hero {
/*    font-size:2em;*/
    height: 100vh;
    background-image: url('/resources/images/background_hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 80%;
    text-align: center;
}
body {
    font-size: 2em;
    position:absolute;
    width: 100%;
    font-family: "aaa";
    background-image: url('/resources/images/background_ocean.webp');
    background-size: cover;
    background-position:fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}
.nav {
    border-top: solid;
    border-bottom: solid;
    border-color: var(--secondary-color);
    width: 100%;

    background-color: var(--main-color);
    
    
}
nav {
    height: 7vh;
}
ul {
    display: flex;
    width: 100%;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    height: 100%;
justify-content: center;

}
.link {
    width: 100%;
    transition: background-color, color 0.5s ease;
    
  }
  
  li a {
    
    display: block;
    color: var(--secondary-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .link:hover {
    background-color: #1b1b1b86;
  }
.main-grid {
    
    margin: auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(80px, auto);
    grid-gap: 30px;
    
}
.grid-content {
    width: 100%;
    border: solid;
    border-radius: 5px;
    border-color: var(--secondary-color);
    box-shadow: 0, 0, 20px var(--secondary-color);
    background-color: var(--main-color);
    transition: border-color 0.5s ease;
}
    .grid-content:hover,.link:hover {
        color:var(--hover-color);
        border-color: var(--hover-color);
    }

.index {
    margin:auto
    ;
}